.elementor-815 .elementor-element.elementor-element-38dae5b {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 5px;
	--margin-left: 0px;
	--margin-right: 0px;
	--z-index: 1000;
}

.elementor-815 .elementor-element.elementor-element-38dae5b:not(.elementor-motion-effects-element-type-background),
.elementor-815 .elementor-element.elementor-element-38dae5b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #006994;
}

.elementor-widget-text-editor {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
	color: var(--e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
	background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-815 .elementor-element.elementor-element-cfd7d93>.elementor-widget-container {
	margin: -5px 0px -28px 0px;
}

.elementor-815 .elementor-element.elementor-element-cfd7d93 {
	text-align: center;
	font-family: "Baskervville", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-e4c8958 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--row-gap: 0px;
	--column-gap: 0px;
	--margin-top: 1px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
	--z-index: 999999;
}

.elementor-815 .elementor-element.elementor-element-de351ba {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: flex-start;
	--align-items: center;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 15px;
	--padding-right: 0px;
}

.elementor-815 .elementor-element.elementor-element-de351ba.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-widget-icon.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
	fill: var(--e-global-color-primary);
}

.elementor-815 .elementor-element.elementor-element-e51a8ba>.elementor-widget-container {
	margin: 2px 0px 0px 0px;
}

.elementor-815 .elementor-element.elementor-element-e51a8ba .elementor-icon-wrapper {
	text-align: center;
}

.elementor-815 .elementor-element.elementor-element-e51a8ba .elementor-icon {
	font-size: 28px;
}

.elementor-815 .elementor-element.elementor-element-e51a8ba .elementor-icon svg {
	height: 28px;
}

.elementor-815 .elementor-element.elementor-element-eafdfda>.elementor-widget-container {
	margin: -11px 0px -11px 0px;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-menu-container {
	height: 80px;
	border-radius: 0px 0px 0px 0px;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li>a {
	font-family: "Baskervville", Sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	padding: 0px 15px 0px 15px;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li>a:hover {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li>a:focus {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li>a:active {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li:hover>a {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li.current-menu-item>a {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li.current-menu-ancestor>a {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
	color: #FFFFFF;
	fill: #FFD5B8;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li>a .ekit-submenu-indicator-icon {
	color: #FFFFFF;
	fill: #FFD5B8;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
	padding: 15px 15px 15px 15px;
	color: #000000;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
	color: #707070;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
	color: #707070;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
	color: #707070;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
	color: #707070;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
	color: #707070 !important;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-submenu-panel {
	padding: 15px 0px 15px 0px;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav .elementskit-submenu-panel {
	border-radius: 0px 0px 0px 0px;
	min-width: 220px;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-menu-hamburger {
	float: right;
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
	background-color: rgba(0, 0, 0, 0.5);
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-menu-hamburger>.ekit-menu-icon {
	color: rgba(0, 0, 0, 0.5);
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
	background-color: rgba(0, 0, 0, 0.5);
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-menu-hamburger:hover>.ekit-menu-icon {
	color: rgba(0, 0, 0, 0.5);
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-menu-close {
	color: rgba(51, 51, 51, 1);
}

.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-menu-close:hover {
	color: rgba(0, 0, 0, 0.5);
}

.elementor-815 .elementor-element.elementor-element-e114c5a {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--align-items: center;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-815 .elementor-element.elementor-element-e114c5a.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-widget-image .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-815 .elementor-element.elementor-element-c3e2c39>.elementor-widget-container {
	margin: -2px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-815 .elementor-element.elementor-element-c3e2c39 {
	z-index: 999999;
}

.elementor-815 .elementor-element.elementor-element-c3e2c39 img {
	width: 33%;
}

.elementor-815 .elementor-element.elementor-element-7bdd14b {
	--display: flex;
	--flex-direction: row-reverse;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap-reverse;
	--justify-content: flex-start;
	--align-items: center;
	--gap: 0px 0px;
	--row-gap: 0px;
	--column-gap: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__toggle .elementor-button {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-name a {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-price {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__footer-buttons .elementor-button {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__footer-buttons a.elementor-button--view-cart {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__footer-buttons a.elementor-button--checkout {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-woocommerce-menu-cart .woocommerce-mini-cart__empty-message {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-815 .elementor-element.elementor-element-e769029>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-815 .elementor-element.elementor-element-e769029 {
	z-index: 9999;
	--divider-style: solid;
	--subtotal-divider-style: solid;
	--elementor-remove-from-cart-button: none;
	--remove-from-cart-button: block;
	--toggle-button-icon-color: #FFFFFF;
	--toggle-button-border-color: #02010100;
	--toggle-button-hover-border-color: #02010100;
	--toggle-button-border-width: 0px;
	--toggle-icon-size: 22px;
	--cart-background-color: #006994;
	--cart-border-style: none;
	--cart-close-button-color: #FFFFFF;
	--remove-item-button-color: #FFFFFF;
	--menu-cart-subtotal-color: #FFFFFF;
	--cart-footer-layout: 1fr;
	--products-max-height-sidecart: calc(100vh - 300px);
	--products-max-height-minicart: calc(100vh - 450px);
	--view-cart-button-text-color: #FFFFFF;
	--view-cart-button-background-color: #006994;
	--view-cart-button-hover-text-color: #006994;
	--view-cart-button-hover-background-color: #FFFFFF;
	--checkout-button-text-color: #006994;
	--checkout-button-background-color: #FFFFFF;
	--checkout-button-hover-text-color: #FFFFFF;
	--checkout-button-hover-background-color: #006994;
	--empty-message-color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-e769029 .elementor-menu-cart__subtotal {
	font-family: "Baskervville", Sans-serif;
	font-size: 20px;
}

.elementor-815 .elementor-element.elementor-element-e769029 .widget_shopping_cart_content {
	--subtotal-divider-left-width: 0;
	--subtotal-divider-right-width: 0;
}

.elementor-815 .elementor-element.elementor-element-e769029 .elementor-menu-cart__product-name a {
	font-family: "Baskervville", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-e769029 .elementor-menu-cart__product-price {
	font-family: "Baskervville", Sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.elementor-815 .elementor-element.elementor-element-e769029 .elementor-menu-cart__footer-buttons a.elementor-button--view-cart {
	font-family: "Arial", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-radius: 5px 5px 5px 5px;
}

.elementor-815 .elementor-element.elementor-element-e769029 .elementor-menu-cart__footer-buttons .elementor-button--view-cart:hover {
	border-color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-e769029 .elementor-button--view-cart {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-e769029 .elementor-menu-cart__footer-buttons a.elementor-button--checkout {
	font-family: "Arial", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-radius: 5px 5px 5px 5px;
}

.elementor-815 .elementor-element.elementor-element-e769029 .elementor-menu-cart__footer-buttons .elementor-button--checkout:hover {
	border-color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-e769029 .elementor-button--checkout {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-e769029 .woocommerce-mini-cart__empty-message {
	font-family: "Cormorant Garamond", Sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
	border-color: var(--e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
	color: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
}

.elementor-815 .elementor-element.elementor-element-c6799cf>.elementor-widget-container {
	margin: 0px -5px 0px 0px;
}

.elementor-815 .elementor-element.elementor-element-c6799cf {
	z-index: 10;
	--e-icon-list-icon-size: 22px;
	--icon-vertical-offset: 0px;
}

.elementor-815 .elementor-element.elementor-element-c6799cf .elementor-icon-list-icon i {
	color: #FFFFFF00;
	transition: color 0.3s;
}

.elementor-815 .elementor-element.elementor-element-c6799cf .elementor-icon-list-icon svg {
	fill: #FFFFFF00;
	transition: fill 0.3s;
}

.elementor-815 .elementor-element.elementor-element-c6799cf .elementor-icon-list-text {
	transition: color 0.3s;
}

.elementor-815 .elementor-element.elementor-element-d1f1939 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
}

.elementor-815 .elementor-element.elementor-element-d1f1939:not(.elementor-motion-effects-element-type-background),
.elementor-815 .elementor-element.elementor-element-d1f1939>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #00699400;
}

.elementor-815 .elementor-element.elementor-element-910ba07 {
	--display: flex;
}

.elementor-815 .elementor-element.elementor-element-910ba07.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-815 .elementor-element.elementor-element-01814ce {
	--display: flex;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2.elementor-element {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2 {
	z-index: 9999;
	--divider-style: solid;
	--subtotal-divider-style: solid;
	--elementor-remove-from-cart-button: none;
	--remove-from-cart-button: block;
	--toggle-button-icon-color: #FFFFFF;
	--toggle-button-border-color: #02010100;
	--toggle-button-hover-border-color: #02010100;
	--toggle-button-border-width: 0px;
	--toggle-icon-size: 22px;
	--cart-background-color: #006994;
	--cart-border-style: none;
	--cart-close-button-color: #FFFFFF;
	--remove-item-button-color: #FFFFFF;
	--menu-cart-subtotal-color: #FFFFFF;
	--cart-footer-layout: 1fr;
	--products-max-height-sidecart: calc(100vh - 300px);
	--products-max-height-minicart: calc(100vh - 450px);
	--view-cart-button-text-color: #FFFFFF;
	--view-cart-button-background-color: #006994;
	--view-cart-button-hover-text-color: #006994;
	--view-cart-button-hover-background-color: #FFFFFF;
	--checkout-button-text-color: #006994;
	--checkout-button-background-color: #FFFFFF;
	--checkout-button-hover-text-color: #FFFFFF;
	--checkout-button-hover-background-color: #006994;
	--empty-message-color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2 .elementor-menu-cart__subtotal {
	font-family: "Baskervville", Sans-serif;
	font-size: 20px;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2 .widget_shopping_cart_content {
	--subtotal-divider-left-width: 0;
	--subtotal-divider-right-width: 0;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2 .elementor-menu-cart__product-name a {
	font-family: "Baskervville", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2 .elementor-menu-cart__product-price {
	font-family: "Baskervville", Sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2 .elementor-menu-cart__footer-buttons a.elementor-button--view-cart {
	font-family: "Arial", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-radius: 5px 5px 5px 5px;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2 .elementor-menu-cart__footer-buttons .elementor-button--view-cart:hover {
	border-color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2 .elementor-button--view-cart {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2 .elementor-menu-cart__footer-buttons a.elementor-button--checkout {
	font-family: "Arial", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-radius: 5px 5px 5px 5px;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2 .elementor-menu-cart__footer-buttons .elementor-button--checkout:hover {
	border-color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2 .elementor-button--checkout {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-3e3f6f2 .woocommerce-mini-cart__empty-message {
	font-family: "Cormorant Garamond", Sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.elementor-815 .elementor-element.elementor-element-2fe65f4 {
	--display: flex;
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.elementor-button {
	background-color: var(--e-global-color-accent);
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.elementor-button:hover {
	background-color: var(--e-global-color-accent);
}

.elementor-widget-navigation-menu a.hfe-menu-item,
.elementor-widget-navigation-menu a.hfe-sub-menu-item {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item,
.elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item {
	color: var(--e-global-color-text);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:hover,
.elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item:hover,
.elementor-widget-navigation-menu .menu-item.current-menu-item a.hfe-menu-item,
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.highlighted,
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:focus {
	color: var(--e-global-color-accent);
}

.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:before,
.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:after {
	background-color: var(--e-global-color-accent);
}

.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a:after {
	background-color: var(--e-global-color-accent);
}

.elementor-widget-navigation-menu .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:before,
.elementor-widget-navigation-menu .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:after {
	border-color: var(--e-global-color-accent);
}

.elementor-widget-navigation-menu .sub-menu li a.hfe-sub-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-815 .elementor-element.elementor-element-db0c26d .hfe-nav-menu__toggle,
.elementor-815 .elementor-element.elementor-element-db0c26d .hfe-nav-menu-icon {
	margin: 0 auto;
	justify-content: center;
}

.elementor-815 .elementor-element.elementor-element-db0c26d li.menu-item a {
	justify-content: space-between;
}

.elementor-815 .elementor-element.elementor-element-db0c26d li .hfe-button-wrapper {
	text-align: space-between;
}

.elementor-815 .elementor-element.elementor-element-db0c26d.hfe-menu-item-flex-end li.hfe-button-wrapper {
	text-align: right;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .hfe-flyout-wrapper .hfe-side {
	width: 300px;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .hfe-flyout-open.left {
	left: -300px;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .hfe-flyout-open.right {
	right: -300px;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .hfe-flyout-content {
	padding: 30px;
	background-color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .menu-item a.hfe-menu-item {
	padding-left: 15px;
	padding-right: 15px;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .menu-item a.hfe-sub-menu-item {
	padding-left: calc(15px + 20px);
	padding-right: 15px;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 40px);
	padding-right: 15px;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 60px);
	padding-right: 15px;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 80px);
	padding-right: 15px;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .menu-item a.hfe-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d .menu-item a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .sub-menu a.hfe-sub-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown li a.hfe-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-815 .elementor-element.elementor-element-db0c26d a.hfe-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d a.hfe-sub-menu-item {
	font-family: "Cormorant Garamond", Sans-serif;
	font-weight: 600;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .menu-item a.hfe-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d .sub-menu a.hfe-sub-menu-item {
	color: #006994;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .sub-menu a.hfe-sub-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d .elementor-menu-toggle,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown li a.hfe-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .sub-menu,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown-expandible,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
	background-color: #fff;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .sub-menu li a.hfe-sub-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown li a.hfe-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	font-family: "Cormorant Garamond", Sans-serif;
	font-weight: 500;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .sub-menu li.menu-item:not(:last-child),
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
	border-bottom-width: 1px;
}

.elementor-815 .elementor-element.elementor-element-db0c26d div.hfe-nav-menu-icon {
	color: #FFFFFF;
}

.elementor-815 .elementor-element.elementor-element-db0c26d div.hfe-nav-menu-icon svg {
	fill: #FFD5B8;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .hfe-flyout-close {
	color: #7A7A7A;
}

.elementor-815 .elementor-element.elementor-element-db0c26d .hfe-flyout-close svg {
	fill: #7A7A7A;
}

@media(max-width:1024px) {
	.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-nav-identity-panel {
		padding: 10px 0px 10px 0px;
	}

	.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-menu-container {
		max-width: 350px;
		border-radius: 0px 0px 0px 0px;
	}

	.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav>li>a {
		color: #000000;
		padding: 10px 15px 10px 15px;
	}

	.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
		padding: 15px 15px 15px 15px;
	}

	.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-navbar-nav .elementskit-submenu-panel {
		border-radius: 0px 0px 0px 0px;
	}

	.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-menu-hamburger {
		padding: 8px 8px 8px 8px;
		width: 45px;
		border-radius: 3px;
	}

	.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-menu-close {
		padding: 8px 8px 8px 8px;
		margin: 12px 12px 12px 12px;
		width: 45px;
		border-radius: 3px;
	}

	.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-nav-logo>img {
		max-width: 160px;
		max-height: 60px;
	}

	.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-nav-logo {
		margin: 5px 0px 5px 0px;
		padding: 5px 5px 5px 5px;
	}

	body:not(.rtl) .elementor-815 .elementor-element.elementor-element-db0c26d.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-right: 0px;
	}

	body .elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-bottom: 0px;
	}
}

@media(max-width:767px) {
	.elementor-815 .elementor-element.elementor-element-38dae5b {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-815 .elementor-element.elementor-element-cfd7d93>.elementor-widget-container {
		margin: 6px 0px -15px 0px;
	}

	.elementor-815 .elementor-element.elementor-element-cfd7d93 {
		font-size: 11px;
	}

	.elementor-815 .elementor-element.elementor-element-eafdfda .elementskit-nav-logo>img {
		max-width: 120px;
		max-height: 50px;
	}

	.elementor-815 .elementor-element.elementor-element-d1f1939 {
		--flex-direction: row;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
		--container-widget-height: 100%;
		--container-widget-flex-grow: 1;
		--container-widget-align-self: stretch;
		--flex-wrap-mobile: wrap;
		--align-items: center;
		--gap: 0px 0px;
		--row-gap: 0px;
		--column-gap: 0px;
		--padding-top: 5px;
		--padding-bottom: 6px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-815 .elementor-element.elementor-element-910ba07 {
		--width: 60%;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-815 .elementor-element.elementor-element-5a6f933>.elementor-widget-container {
		margin: 0px 0px 0px 5px;
	}

	.elementor-815 .elementor-element.elementor-element-5a6f933.elementor-element {
		--order: -99999
			/* order start hack */
		;
	}

	.elementor-815 .elementor-element.elementor-element-5a6f933 {
		text-align: left;
	}

	.elementor-815 .elementor-element.elementor-element-5a6f933 img {
		width: 26%;
	}

	.elementor-815 .elementor-element.elementor-element-01814ce {
		--width: 20%;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-815 .elementor-element.elementor-element-3e3f6f2 {
		width: var(--container-widget-width, 73.8px);
		max-width: 73.8px;
		--container-widget-width: 73.8px;
		--container-widget-flex-grow: 0;
	}

	.elementor-815 .elementor-element.elementor-element-3e3f6f2>.elementor-widget-container {
		margin: 0px 0px 0px 25px;
	}

	.elementor-815 .elementor-element.elementor-element-2fe65f4 {
		--width: 20%;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	body:not(.rtl) .elementor-815 .elementor-element.elementor-element-db0c26d .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-right: 16px;
	}

	body.rtl .elementor-815 .elementor-element.elementor-element-db0c26d .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-left: 16px;
	}

	.elementor-815 .elementor-element.elementor-element-db0c26d nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-bottom: 16px;
	}

	body:not(.rtl) .elementor-815 .elementor-element.elementor-element-db0c26d.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-right: 0px;
	}

	body .elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
		margin-bottom: 0px;
	}

	.elementor-815 .elementor-element.elementor-element-db0c26d a.hfe-menu-item,
	.elementor-815 .elementor-element.elementor-element-db0c26d a.hfe-sub-menu-item {
		font-size: 18px;
	}

	.elementor-815 .elementor-element.elementor-element-db0c26d .sub-menu li a.hfe-sub-menu-item,
	.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown li a.hfe-sub-menu-item,
	.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown li a.hfe-menu-item,
	.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown-expandible li a.hfe-menu-item,
	.elementor-815 .elementor-element.elementor-element-db0c26d nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
		font-size: 16px;
	}
}

@media(min-width:768px) {
	.elementor-815 .elementor-element.elementor-element-e4c8958 {
		--content-width: 1440px;
	}

	.elementor-815 .elementor-element.elementor-element-de351ba {
		--width: 40%;
	}

	.elementor-815 .elementor-element.elementor-element-e114c5a {
		--width: 20%;
	}

	.elementor-815 .elementor-element.elementor-element-7bdd14b {
		--width: 40%;
	}
}